In [29]:
import re
import pandas as pd
import numpy as np
import datetime

In [2]:
%store -r mainDf
teamGameData = pd.read_csv('C:\\Users\\Michael\\Desktop\\Springboard\\Capstone2\\csvFiles\\teamGameData.csv',index_col=0)

In [3]:
# Let's first work with the odds data
mainDf.head()

,date,favorite,spread,underdog,total,awayMoneyLine,homeMoneyLine,season,week
0,"September 8, 2011 12:00 AM",at Packers,-4.0,Saints,47.5,NaN,NaN,2011,1
1,"September 11, 2011 12:00 AM",at Texans,-8.5,Colts,43.5,NaN,NaN,2011,1
2,"September 11, 2011 12:00 AM",Titans,-1.0,at Jaguars,37.5,NaN,NaN,2011,1
3,"September 11, 2011 12:00 AM",at Chiefs,-4.0,Bills,40.0,NaN,NaN,2011,1
4,"September 11, 2011 12:00 AM",at Chargers,-9.0,Vikings,42.5,NaN,NaN,2011,1

In [4]:
# Split table by favorite and underdog
favorite = mainDf[['date','season','week','favorite','spread','total','awayMoneyLine','homeMoneyLine']]
favorite.head()

,date,season,week,favorite,spread,total,awayMoneyLine,homeMoneyLine
0,"September 8, 2011 12:00 AM",2011,1,at Packers,-4.0,47.5,NaN,NaN
1,"September 11, 2011 12:00 AM",2011,1,at Texans,-8.5,43.5,NaN,NaN
2,"September 11, 2011 12:00 AM",2011,1,Titans,-1.0,37.5,NaN,NaN
3,"September 11, 2011 12:00 AM",2011,1,at Chiefs,-4.0,40.0,NaN,NaN
4,"September 11, 2011 12:00 AM",2011,1,at Chargers,-9.0,42.5,NaN,NaN

In [5]:
# create column that signifies whether favorite is home or away
favorite.loc[favorite['favorite'].str.contains('at '), 'homeOrAway'] = 'home'
favorite.loc[np.logical_not(favorite['favorite'].str.contains('at ')), 'homeOrAway'] = 'away'
favorite.tail()

,date,season,week,favorite,spread,total,awayMoneyLine,homeMoneyLine,homeOrAway
11,"December 30, 2018 4:25 PM",2018,17,at Seahawks,-15.0,40.0,675.0,-860.0,home
12,"December 30, 2018 4:25 PM",2018,17,at Chiefs,-14.0,53.0,700.0,-900.0,home
13,"December 30, 2018 4:25 PM",2018,17,at Rams,-10.5,50.0,390.0,-440.0,home
14,"December 30, 2018 4:25 PM",2018,17,at Vikings,-5.5,39.5,215.0,-235.0,home
15,"December 30, 2018 8:20 PM",2018,17,Colts,-5.5,42.5,-235.0,215.0,away

In [6]:
# Create a moneyLine column that uses awayMoneyLine if homeOrAway is away,
# and uses homeMoneyLine otherwise

awayFav = favorite.loc[favorite['homeOrAway'] == 'away']
awayFav = awayFav.drop(columns=['homeMoneyLine'])
awayFav = awayFav.rename(columns={'awayMoneyLine':'moneyLine'})

homeFav = favorite.loc[favorite['homeOrAway'] == 'home']
homeFav = homeFav.drop(columns=['awayMoneyLine'])
homeFav = homeFav.rename(columns={'homeMoneyLine':'moneyLine'})

# Reconnect the two tables
favorite = homeFav.append(awayFav)
favorite.tail()

# Create impliedTotal column
favorite['impliedTotal'] = (favorite['total']/2) - (favorite['spread']/2)
favorite.head()

,date,season,week,favorite,spread,total,moneyLine,homeOrAway,impliedTotal
0,"September 8, 2011 12:00 AM",2011,1,at Packers,-4.0,47.5,NaN,home,25.75
1,"September 11, 2011 12:00 AM",2011,1,at Texans,-8.5,43.5,NaN,home,26.00
3,"September 11, 2011 12:00 AM",2011,1,at Chiefs,-4.0,40.0,NaN,home,22.00
4,"September 11, 2011 12:00 AM",2011,1,at Chargers,-9.0,42.5,NaN,home,25.75
6,"September 11, 2011 12:00 AM",2011,1,at Cardinals,-7.0,37.5,NaN,home,22.25

In [7]:
# Now let's do the same thing for underdogs
underdog = mainDf[['date','season','week','underdog','spread','total','awayMoneyLine','homeMoneyLine']]
underdog.head()

,date,season,week,underdog,spread,total,awayMoneyLine,homeMoneyLine
0,"September 8, 2011 12:00 AM",2011,1,Saints,-4.0,47.5,NaN,NaN
1,"September 11, 2011 12:00 AM",2011,1,Colts,-8.5,43.5,NaN,NaN
2,"September 11, 2011 12:00 AM",2011,1,at Jaguars,-1.0,37.5,NaN,NaN
3,"September 11, 2011 12:00 AM",2011,1,Bills,-4.0,40.0,NaN,NaN
4,"September 11, 2011 12:00 AM",2011,1,Vikings,-9.0,42.5,NaN,NaN

In [8]:
# create column that signifies whether underdog is home or away
underdog.loc[underdog['underdog'].str.contains('at '), 'homeOrAway'] = 'home'
underdog.loc[np.logical_not(underdog['underdog'].str.contains('at ')), 'homeOrAway'] = 'away'
underdog.tail()

,date,season,week,underdog,spread,total,awayMoneyLine,homeMoneyLine,homeOrAway
11,"December 30, 2018 4:25 PM",2018,17,Cardinals,-15.0,40.0,675.0,-860.0,away
12,"December 30, 2018 4:25 PM",2018,17,Raiders,-14.0,53.0,700.0,-900.0,away
13,"December 30, 2018 4:25 PM",2018,17,49ers,-10.5,50.0,390.0,-440.0,away
14,"December 30, 2018 4:25 PM",2018,17,Bears,-5.5,39.5,215.0,-235.0,away
15,"December 30, 2018 8:20 PM",2018,17,at Titans,-5.5,42.5,-235.0,215.0,home

In [9]:
# Create a moneyLine column that uses awayMoneyLine if homeOrAway is away,
# and uses homeMoneyLine otherwise

awayDog = underdog.loc[underdog['homeOrAway'] == 'away']
awayDog = awayDog.drop(columns=['homeMoneyLine'])
awayDog = awayDog.rename(columns={'awayMoneyLine':'moneyLine'})

homeDog = underdog.loc[underdog['homeOrAway'] == 'home']
homeDog = homeDog.drop(columns=['awayMoneyLine'])
homeDog = homeDog.rename(columns={'homeMoneyLine':'moneyLine'})

# Reconnect the two tables
underdog = homeDog.append(awayDog)
underdog.tail()

# use absolute value of spread, since underdog
underdog['spread'] = underdog['spread'].abs()

# Create impliedTotal column (adjust for underdog)
underdog['impliedTotal'] = (underdog['total']/2) - (underdog['spread']/2)
underdog.tail()

,date,season,week,underdog,spread,total,moneyLine,homeOrAway,impliedTotal
10,"December 30, 2018 4:25 PM",2018,17,Bengals,13.5,46.0,575.0,away,16.25
11,"December 30, 2018 4:25 PM",2018,17,Cardinals,15.0,40.0,675.0,away,12.50
12,"December 30, 2018 4:25 PM",2018,17,Raiders,14.0,53.0,700.0,away,19.50
13,"December 30, 2018 4:25 PM",2018,17,49ers,10.5,50.0,390.0,away,19.75
14,"December 30, 2018 4:25 PM",2018,17,Bears,5.5,39.5,215.0,away,17.00

In [10]:
# now change favorite and underdog team columns to 'team', then put table back together
favorite = favorite.rename(columns={'favorite':'team'})
underdog = underdog.rename(columns={'underdog':'team'})

oddsTable = favorite.append(underdog)
oddsTable.head()

,date,season,week,team,spread,total,moneyLine,homeOrAway,impliedTotal
0,"September 8, 2011 12:00 AM",2011,1,at Packers,-4.0,47.5,NaN,home,25.75
1,"September 11, 2011 12:00 AM",2011,1,at Texans,-8.5,43.5,NaN,home,26.00
3,"September 11, 2011 12:00 AM",2011,1,at Chiefs,-4.0,40.0,NaN,home,22.00
4,"September 11, 2011 12:00 AM",2011,1,at Chargers,-9.0,42.5,NaN,home,25.75
6,"September 11, 2011 12:00 AM",2011,1,at Cardinals,-7.0,37.5,NaN,home,22.25

In [11]:
# Now eliminate 'at ' in the team column
oddsTable['team'] =  oddsTable.loc[:, 'team'].replace(regex=True, to_replace="at ", value="")
oddsTable.head()

,date,season,week,team,spread,total,moneyLine,homeOrAway,impliedTotal
0,"September 8, 2011 12:00 AM",2011,1,Packers,-4.0,47.5,NaN,home,25.75
1,"September 11, 2011 12:00 AM",2011,1,Texans,-8.5,43.5,NaN,home,26.00
3,"September 11, 2011 12:00 AM",2011,1,Chiefs,-4.0,40.0,NaN,home,22.00
4,"September 11, 2011 12:00 AM",2011,1,Chargers,-9.0,42.5,NaN,home,25.75
6,"September 11, 2011 12:00 AM",2011,1,Cardinals,-7.0,37.5,NaN,home,22.25

In [12]:
# Turn season and weeks into ints
oddsTable[['week','season']] = oddsTable[['week','season']].astype('int')

In [33]:
oddsTable.to_csv('C://Users//Michael//Desktop//Springboard//Capstone2//csvFiles//oddsTable.csv')

In [14]:
# Now let's work with the teamGameData table
teamGameData.head()

,gameId,date,team,totExp,oTot,oPass,oRush,oTov,dTot,dPass,...,cmpAttYdsTdsInts,sackedYds,netPyds,totYds,fumLost,to,penYds,3dConv,4dConv,timePoss
0,201009090nor,"Thursday Sep 9, 2010",Vikings,-5.0,-6.45,-5.54,-0.91,-4.17,-2.86,-4.60,...,15-27-171-1-1,1-9,162,253,1-0,1,6-60,5-13,0-0,26:17
1,201009090nor,"Thursday Sep 9, 2010",Saints,5.0,2.86,4.60,-1.42,0.00,6.45,5.54,...,27-36-237-1-0,1-8,229,308,1-0,0,3-20,3-11,0-0,33:43
0,201009120pit,"Sunday Sep 12, 2010",Falcons,-6.0,-8.90,-4.99,-3.91,-3.92,3.01,0.92,...,27-44-252-0-1,2-15,237,295,0-0,1,3-24,6-16,0-0,30:29
1,201009120pit,"Sunday Sep 12, 2010",Steelers,6.0,-3.01,-0.92,-1.43,-3.79,8.90,4.99,...,18-26-236-0-1,3-25,211,354,0-0,1,4-25,4-14,0-0,32:06
0,201009120oti,"Sunday Sep 12, 2010",Titans,25.0,10.04,6.91,3.79,-4.66,14.46,12.28,...,22-37-180-1-1,4-30,150,286,4-1,2,10-77,3-14,0-2,28:56

In [15]:
teamGameData.head()

,gameId,date,team,totExp,oTot,oPass,oRush,oTov,dTot,dPass,...,cmpAttYdsTdsInts,sackedYds,netPyds,totYds,fumLost,to,penYds,3dConv,4dConv,timePoss
0,201009090nor,"Thursday Sep 9, 2010",Vikings,-5.0,-6.45,-5.54,-0.91,-4.17,-2.86,-4.60,...,15-27-171-1-1,1-9,162,253,1-0,1,6-60,5-13,0-0,26:17
1,201009090nor,"Thursday Sep 9, 2010",Saints,5.0,2.86,4.60,-1.42,0.00,6.45,5.54,...,27-36-237-1-0,1-8,229,308,1-0,0,3-20,3-11,0-0,33:43
0,201009120pit,"Sunday Sep 12, 2010",Falcons,-6.0,-8.90,-4.99,-3.91,-3.92,3.01,0.92,...,27-44-252-0-1,2-15,237,295,0-0,1,3-24,6-16,0-0,30:29
1,201009120pit,"Sunday Sep 12, 2010",Steelers,6.0,-3.01,-0.92,-1.43,-3.79,8.90,4.99,...,18-26-236-0-1,3-25,211,354,0-0,1,4-25,4-14,0-0,32:06
0,201009120oti,"Sunday Sep 12, 2010",Titans,25.0,10.04,6.91,3.79,-4.66,14.46,12.28,...,22-37-180-1-1,4-30,150,286,4-1,2,10-77,3-14,0-2,28:56

In [16]:
# all columns up to firstDowns are fine, so let's look at columns after that
teamGameData[['rushesYdsTds', 'cmpAttYdsTdsInts',
       'sackedYds', 'netPyds', 'totYds', 'fumLost', 'to', 'penYds', '3dConv',
       '4dConv', 'timePoss']].head()

,rushesYdsTds,cmpAttYdsTdsInts,sackedYds,netPyds,totYds,fumLost,to,penYds,3dConv,4dConv,timePoss
0,23-91-0,15-27-171-1-1,1-9,162,253,1-0,1,6-60,5-13,0-0,26:17
1,25-79-1,27-36-237-1-0,1-8,229,308,1-0,0,3-20,3-11,0-0,33:43
0,25-58-0,27-44-252-0-1,2-15,237,295,0-0,1,3-24,6-16,0-0,30:29
1,31-143-1,18-26-236-0-1,3-25,211,354,0-0,1,4-25,4-14,0-0,32:06
0,26-136-0,22-37-180-1-1,4-30,150,286,4-1,2,10-77,3-14,0-2,28:56

In [17]:
# split columns with hyphens into separate columns
teamGameData[['rushAtt','rushYds','rushTds']] = teamGameData['rushesYdsTds'].str.split('-', 2,expand=True)
teamGameData[['passComp','passAtt','passYds','passTds','ints']] = teamGameData['cmpAttYdsTdsInts'].str.split('-', 4,expand=True)
teamGameData[['timesSacked','yardsLostOnSacks']] = teamGameData['sackedYds'].str.split('-', 1,expand=True)
teamGameData[['fumbles','fumblesLost']] = teamGameData['fumLost'].str.split('-', 1,expand=True)
teamGameData[['3dConv','3dAtt']] = teamGameData['3dConv'].str.split('-', 1,expand=True)
teamGameData[['4dConv','4dAtt']] = teamGameData['4dConv'].str.split('-', 1,expand=True)
teamGameData[['3dAtt','3dConv']].head()

  3dAtt 3dConv
0    13      5
1    11      3
0    16      6
1    14      4
0    14      3

In [18]:
# Split timePoss column into minutes/seconds, multiply min column by 60, add the new transformed column to sec
# column for one column that has time of possession in seconds
teamGameData[['min','sec']] = teamGameData['timePoss'].str.split(':', 1,expand=True)
teamGameData[['min','sec']] = teamGameData[['min','sec']].astype('int')
teamGameData['totalSeconds'] = teamGameData['min']*60 + teamGameData['sec']
teamGameData[['totalSeconds']].head()

   totalSeconds
0          1577
1          2023
0          1829
1          1926
0          1736

In [19]:
teamGameData.columns

Index(['gameId', 'date', 'team', 'totExp', 'oTot', 'oPass', 'oRush', 'oTov',
       'dTot', 'dPass', 'dRush', 'dTov', 'stTot', 'stKo', 'stKr', 'stP',
       'stPr', 'fgxp', 'firstDowns', 'rushesYdsTds', 'cmpAttYdsTdsInts',
       'sackedYds', 'netPyds', 'totYds', 'fumLost', 'to', 'penYds', '3dConv',
       '4dConv', 'timePoss', 'rushAtt', 'rushYds', 'rushTds', 'passComp',
       'passAtt', 'passYds', 'passTds', 'ints', 'timesSacked',
       'yardsLostOnSacks', 'fumbles', 'fumblesLost', '3dAtt', '4dAtt', 'min',
       'sec', 'totalSeconds'],
      dtype='object')

In [20]:
# combine 3d and 4d columns
teamGameData[['3dAtt','3dConv']] = teamGameData[['3dAtt','3dConv']].astype('int')
teamGameData[['4dAtt','4dConv']] = teamGameData[['4dAtt','4dConv']].astype('int')
teamGameData['lateDownConv'] = teamGameData['3dConv'] + teamGameData['4dConv']
teamGameData['lateDownAtt'] = teamGameData['3dAtt'] + teamGameData['4dAtt']
teamGameData = teamGameData.drop(columns=['3dConv','4dConv','3dAtt','4dAtt','rushesYdsTds', 'cmpAttYdsTdsInts',
                                          'sackedYds', 'fumLost', 'penYds', 'timePoss', 'min', 'sec'])
teamGameData.columns

Index(['gameId', 'date', 'team', 'totExp', 'oTot', 'oPass', 'oRush', 'oTov',
       'dTot', 'dPass', 'dRush', 'dTov', 'stTot', 'stKo', 'stKr', 'stP',
       'stPr', 'fgxp', 'firstDowns', 'netPyds', 'totYds', 'to', 'rushAtt',
       'rushYds', 'rushTds', 'passComp', 'passAtt', 'passYds', 'passTds',
       'ints', 'timesSacked', 'yardsLostOnSacks', 'fumbles', 'fumblesLost',
       'totalSeconds', 'lateDownConv', 'lateDownAtt'],
      dtype='object')

In [21]:
teamGameData.head()

,gameId,date,team,totExp,oTot,oPass,oRush,oTov,dTot,dPass,...,passYds,passTds,ints,timesSacked,yardsLostOnSacks,fumbles,fumblesLost,totalSeconds,lateDownConv,lateDownAtt
0,201009090nor,"Thursday Sep 9, 2010",Vikings,-5.0,-6.45,-5.54,-0.91,-4.17,-2.86,-4.60,...,171,1,1,1,9,1,0,1577,5,13
1,201009090nor,"Thursday Sep 9, 2010",Saints,5.0,2.86,4.60,-1.42,0.00,6.45,5.54,...,237,1,0,1,8,1,0,2023,3,11
0,201009120pit,"Sunday Sep 12, 2010",Falcons,-6.0,-8.90,-4.99,-3.91,-3.92,3.01,0.92,...,252,0,1,2,15,0,0,1829,6,16
1,201009120pit,"Sunday Sep 12, 2010",Steelers,6.0,-3.01,-0.92,-1.43,-3.79,8.90,4.99,...,236,0,1,3,25,0,0,1926,4,14
0,201009120oti,"Sunday Sep 12, 2010",Titans,25.0,10.04,6.91,3.79,-4.66,14.46,12.28,...,180,1,1,4,30,4,1,1736,3,16

In [22]:
finalTeamGameDataTable = teamGameData

In [23]:
%store finalTeamGameDataTable

Stored 'finalTeamGameDataTable' (DataFrame)

In [24]:
finalTeamGameDataTable.head()

,gameId,date,team,totExp,oTot,oPass,oRush,oTov,dTot,dPass,...,passYds,passTds,ints,timesSacked,yardsLostOnSacks,fumbles,fumblesLost,totalSeconds,lateDownConv,lateDownAtt
0,201009090nor,"Thursday Sep 9, 2010",Vikings,-5.0,-6.45,-5.54,-0.91,-4.17,-2.86,-4.60,...,171,1,1,1,9,1,0,1577,5,13
1,201009090nor,"Thursday Sep 9, 2010",Saints,5.0,2.86,4.60,-1.42,0.00,6.45,5.54,...,237,1,0,1,8,1,0,2023,3,11
0,201009120pit,"Sunday Sep 12, 2010",Falcons,-6.0,-8.90,-4.99,-3.91,-3.92,3.01,0.92,...,252,0,1,2,15,0,0,1829,6,16
1,201009120pit,"Sunday Sep 12, 2010",Steelers,6.0,-3.01,-0.92,-1.43,-3.79,8.90,4.99,...,236,0,1,3,25,0,0,1926,4,14
0,201009120oti,"Sunday Sep 12, 2010",Titans,25.0,10.04,6.91,3.79,-4.66,14.46,12.28,...,180,1,1,4,30,4,1,1736,3,16

In [25]:
# Turn Pro football reference data into rolling averages. Name columns accordingly

finalTeamGameDataTable['date'] = pd.to_datetime(finalTeamGameDataTable['date'])

rollAvgGameData = finalTeamGameDataTable.set_index(['date', 'team'])
rollAvgGameData

varDict = {'totExp':'totExpAvg','oTot':'oTotAvg','oPass':'oPassAvg','oRush':'oRushAvg','oTov':'oTovAvg','dTot':'dTotAvg','dPass':'dPassAvg',
           'dRush':'dRushAvg','dTov':'dTovAvg', 'stTot':'stTotAvg', 'stKo':'stKoAvg', 'stKr':'stKrAvg', 'stP':'stPAvg',
           'stPr':'stPrAvg', 'fgxp':'fgxpAvg', 'firstDowns':'firstDownsAvg', 'netPyds':'netPydsAvg', 'totYds':'totYdsAvg', 'to':'toAvg', 'rushAtt':'rushAttAvg',
           'rushYds':'rushYdsAvg', 'rushTds':'rushTdsAvg', 'passComp':'passCompAvg', 'passAtt':'passAttAvg', 'passYds':'passYdsAvg', 'passTds':'passTdsAvg',
           'ints':'intsAvg', 'timesSacked':'timesSackedAvg', 'yardsLostOnSacks':'yardsLostOnSacksAvg','totalSeconds':'totalSecondsAvg', 'lateDownConv':'lateDownConvAvg', 'lateDownAtt':'lateDownAttAvg'}

for key, val in varDict.items():
    rollAvgGameData[val] = rollAvgGameData.groupby('team')[key].apply(lambda x: x.shift(1).rolling(window=7).mean())
    
rollAvgGameData = rollAvgGameData.fillna(method='bfill')
rollAvgGameData = rollAvgGameData.reset_index()

rollAvgGameData[['date','team','totExp','totExpAvg']].sort_values(by=['team','date'])
rollAvgGameData.columns

Index(['date', 'team', 'gameId', 'totExp', 'oTot', 'oPass', 'oRush', 'oTov',
       'dTot', 'dPass', 'dRush', 'dTov', 'stTot', 'stKo', 'stKr', 'stP',
       'stPr', 'fgxp', 'firstDowns', 'netPyds', 'totYds', 'to', 'rushAtt',
       'rushYds', 'rushTds', 'passComp', 'passAtt', 'passYds', 'passTds',
       'ints', 'timesSacked', 'yardsLostOnSacks', 'fumbles', 'fumblesLost',
       'totalSeconds', 'lateDownConv', 'lateDownAtt', 'totExpAvg', 'oTotAvg',
       'oPassAvg', 'oRushAvg', 'oTovAvg', 'dTotAvg', 'dPassAvg', 'dRushAvg',
       'dTovAvg', 'stTotAvg', 'stKoAvg', 'stKrAvg', 'stPAvg', 'stPrAvg',
       'fgxpAvg', 'firstDownsAvg', 'netPydsAvg', 'totYdsAvg', 'toAvg',
       'rushAttAvg', 'rushYdsAvg', 'rushTdsAvg', 'passCompAvg', 'passAttAvg',
       'passYdsAvg', 'passTdsAvg', 'intsAvg', 'timesSackedAvg',
       'yardsLostOnSacksAvg', 'totalSecondsAvg', 'lateDownConvAvg',
       'lateDownAttAvg'],
      dtype='object')

In [26]:
rollAvgGameData.to_csv('C://Users//Michael//Desktop//Springboard//Capstone2//csvFiles//rollAvgGameData.csv')

In [30]:
# Now let's setup our home/away matchup columns with rolling averages
gameTable = pd.read_csv('C://Users//Michael//Desktop//Springboard//Capstone1//dataCleaning//cleanedData//cleanedGameData.csv')
dvoaTable = pd.read_csv('C://Users//Michael//Desktop//Springboard//Capstone1//dataCleaning//cleanedData//cleanedDvoaData.csv', encoding='windows-1252')
pffTable = pd.read_csv('C://Users//Michael//Desktop//Springboard//Capstone1//dataCleaning//cleanedData//cleanedPffData.csv')

In [47]:
pffTable['date'] = pd.to_datetime(pffTable['date'])
rollAvgPff = pffTable.set_index('date')
rollAvgPff

,season,week,team,opp,time,w,pf,pa,overall,off,...,run,rblk,def,rdef,tack,prsh,cov,spec,lateGame,year
date,,,,,,,,,,,,,,,,,,,,,
2006-09-10,2006,1,Arizona Cardinals,San Francisco 49ers,11:00am,W,34,27,72.5,72.6,...,47.4,65.6,67.7,69.8,37.5,56.2,70.7,-,False,2006
2006-09-17,2006,2,Arizona Cardinals,Seattle Seahawks,11:00am,L,10,21,48.0,50.1,...,59.7,62.1,49.8,38.3,44.7,60.5,62.3,-,False,2006
2006-09-24,2006,3,Arizona Cardinals,Los Angeles Rams,11:00am,L,14,16,65.6,66.0,...,54.1,62.8,62.9,80.1,57.1,51.7,53.8,-,False,2006
2006-10-01,2006,4,Arizona Cardinals,Atlanta Falcons,8:00am,L,10,32,64.1,55.5,...,41.9,61.9,73.0,68.1,82.9,56.8,75.3,-,False,2006
2006-10-08,2006,5,Arizona Cardinals,Kansas City Chiefs,8:00am,L,20,23,65.6,63.4,...,57.3,65.3,66.4,78.9,53.0,63.5,56.9,-,False,2006
2006-10-16,2006,6,Arizona Cardinals,Chicago Bears,12:00am,L,23,24,66.0,55.4,...,34.4,62.1,81.6,65.9,64.6,73.7,82.3,-,False,2006
2006-10-22,2006,7,Arizona Cardinals,Oakland Raiders,9:00am,L,9,22,61.5,54.6,...,38.8,55.5,68.1,74.4,89.2,56.0,63.2,-,False,2006
2006-10-29,2006,8,Arizona Cardinals,Green Bay Packers,7:00am,L,14,31,55.0,60.3,...,47.6,70.6,49.5,56.0,73.1,52.5,45.4,-,False,2006
2006-11-12,2006,10,Arizona Cardinals,Dallas Cowboys,7:00am,L,10,27,51.0,54.1,...,53.3,51.6,50.5,48.1,33.0,57.8,51.8,-,False,2006
2006-11-19,2006,11,Arizona Cardinals,Detroit Lions,7:00am,W,17,10,73.1,76.0,...,71.8,59.0,65.3,55.5,55.9,57.3,73.0,-,False,2006
2006-11-26,2006,12,Arizona Cardinals,Minnesota Vikings,7:00am,L,26,31,65.4,72.2,...,47.4,54.0,54.6,56.2,65.6,57.5,53.5,-,False,2006
2006-12-03,2006,13,Arizona Cardinals,Los Angeles Rams,7:00am,W,34,20,64.7,64.0,...,39.9,65.1,63.9,55.8,76.2,51.9,75.0,-,False,2006
2006-12-10,2006,14,Arizona Cardinals,Seattle Seahawks,7:00am,W,27,21,68.8,68.9,...,65.5,63.7,65.2,66.3,71.2,69.1,61.5,-,False,2006
2006-12-17,2006,15,Arizona Cardinals,Denver Broncos,7:00am,L,20,37,63.6,54.8,...,65.7,67.3,73.3,73.0,71.6,64.9,68.1,-,False,2006
2006-12-24,2006,16,Arizona Cardinals,San Francisco 49ers,7:00am,W,26,20,71.0,70.6,...,60.7,54.9,67.3,70.1,39.3,66.3,64.0,-,False,2006
2006-12-31,2006,17,Arizona Cardinals,Los Angeles Chargers,7:00am,L,20,27,67.5,73.6,...,48.7,54.5,56.5,57.3,63.6,56.6,57.0,-,False,2006
2007-09-09,2007,1,Arizona Cardinals,San Francisco 49ers,8:00pm,L,17,20,54.5,54.2,...,68.4,58.0,57.1,53.6,60.1,68.9,59.9,-,False,2007
2007-09-15,2007,2,Arizona Cardinals,Seattle Seahawks,8:00pm,W,23,20,68.2,74.3,...,66.0,72.0,56.6,60.7,53.3,61.3,55.9,-,False,2007
2007-09-22,2007,3,Arizona Cardinals,Baltimore Ravens,8:00pm,L,23,26,66.8,74.9,...,64.8,62.3,54.7,58.2,61.4,63.9,49.0,-,False,2007
2007-09-29,2007,4,Arizona Cardinals,Pittsburgh Steelers,8:00pm,W,21,14,73.1,66.8,...,34.1,71.7,76.3,84.3,82.5,70.6,63.8,-,False,2007
2007-10-06,2007,5,Arizona Cardinals,Los Angeles Rams,8:00pm,W,34,31,68.9,65.2,...,40.5,63.0,70.5,68.8,74.1,73.7,66.7,-,False,2007
2007-10-13,2007,6,Arizona Cardinals,Carolina Panthers,8:00pm,L,10,25,61.9,60.3,...,51.2,61.9,63.0,69.4,58.2,66.3,55.6,-,False,2007
2007-10-20,2007,7,Arizona Cardinals,Washington Redskins,8:00pm,L,19,21,70.9,60.3,...,48.3,54.6,87.6,90.6,89.7,57.3,77.8,-,False,2007
2007-11-03,2007,9,Arizona Cardinals,Tampa Bay Buccaneers,8:00pm,L,10,17,65.4,51.3,...,52.2,49.7,76.5,88.3,53.6,76.7,53.4,-,False,2007
2007-11-10,2007,10,Arizona Cardinals,Detroit Lions,7:00pm,W,31,21,84.1,81.6,...,63.7,66.5,78.4,88.7,67.4,75.9,71.1,-,False,2007
2007-11-17,2007,11,Arizona Cardinals,Cincinnati Bengals,7:00pm,W,35,27,82.2,81.5,...,51.3,63.0,75.7,75.0,73.5,47.6,86.4,-,False,2007
2007-11-24,2007,12,Arizona Cardinals,San Francisco 49ers,7:00pm,L,31,37,76.5,86.0,...,70.5,75.0,55.2,51.7,53.0,53.5,58.9,-,False,2007
2007-12-01,2007,13,Arizona Cardinals,Cleveland Browns,7:00pm,W,27,21,73.8,74.3,...,66.3,65.7,68.3,67.1,77.9,63.9,69.1,-,False,2007
2007-12-08,2007,14,Arizona Cardinals,Seattle Seahawks,7:00pm,L,21,42,61.6,64.8,...,55.9,72.0,55.9,56.4,62.5,72.8,52.9,-,False,2007
2007-12-15,2007,15,Arizona Cardinals,New Orleans Saints,7:00pm,L,24,31,71.0,78.0,...,57.4,59.4,57.8,65.0,53.7,62.0,54.0,-,False,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-09-24,2017,3,Washington Redskins,Oakland Raiders,8:30pm,W,27,10,87.7,74.3,...,45.3,65.2,90.9,80.2,82.4,72.0,91.1,70.5,False,2017
2017-10-02,2017,4,Washington Redskins,Kansas City Chiefs,8:30pm,L,20,29,76.3,84.5,...,73.7,64.7,61.8,59.8,61.4,75.5,61.2,59.5,False,2017
2017-10-15,2017,6,Washington Redskins,San Francisco 49ers,1:00pm,W,26,24,71.0,69.5,...,54.4,82.0,68.0,47.2,59.3,63.8,77.6,64.3,False,2017
2017-10-23,2017,7,Washington Redskins,Philadelphia Eagles,8:30pm,L,24,34,69.4,71.0,...,62.4,58.6,67.3,82.7,60.6,68.0,50.2,53.6,False,2017
2017-10-29,2017,8,Washington Redskins,Dallas Cowboys,4:25pm,L,19,33,50.6,56.6,...,61.0,47.8,52.0,45.2,63.5,70.8,55.7,64.0,False,2017
2017-11-05,2017,9,Washington Redskins,Seattle Seahawks,4:05pm,W,17,14,71.1,62.2,...,54.3,46.8,75.3,72.7,55.7,62.3,75.1,62.4,False,2017
2017-11-12,2017,10,Washington Redskins,Minnesota Vikings,1:00pm,L,30,38,62.1,68.9,...,62.5,55.4,48.3,58.6,80.1,54.9,39.3,53.4,False,2017
2017-11-19,2017,11,Washington Redskins,New Orleans Saints,1:00pm,L,31,34,67.7,75.3,...,63.2,68.3,56.7,45.9,34.0,57.1,64.5,45.0,False,2017
2017-11-23,2017,12,Washington Redskins,New York Giants,8:30pm,W,20,10,74.8,64.7,...,62.1,57.5,81.0,71.6,72.9,81.4,72.3,63.9,False,2017
2017-11-30,2017,13,Washington Redskins,Dallas Cowboys,8:25pm,L,14,38,62.8,62.0,...,53.6,64.4,63.2,57.1,60.8,59.8,66.7,62.5,False,2017
2017-12-10,2017,14,Washington Redskins,Los Angeles Chargers,4:05pm,L,13,30,62.4,62.4,...,61.1,49.8,64.1,65.1,83.4,75.2,57.2,53.4,False,2017
2017-12-17,2017,15,Washington Redskins,Arizona Cardinals,1:00pm,W,20,15,73.8,60.4,...,71.9,46.5,77.7,78.7,84.0,77.5,65.5,70.3,False,2017
2017-12-24,2017,16,Washington Redskins,Denver Broncos,1:00pm,W,27,11,70.8,59.7,...,54.3,45.9,76.2,66.2,72.5,69.8,75.7,74.0,False,2017
2017-12-31,2017,17,Washington Redskins,New York Giants,1:00pm,L,10,18,62.4,54.4,...,60.2,59.7,68.0,55.2,45.7,75.1,72.0,68.1,False,2017
2018-09-09,2018,1,Washington Redskins,Arizona Cardinals,4:25pm,W,24,6,77.6,68.6,...,52.9,71.4,84.9,63.0,65.9,79.4,82.1,49.6,False,2018
2018-09-16,2018,2,Washington Redskins,Indianapolis Colts,1:00pm,L,9,21,67.4,63.0,...,52.9,59.4,74.2,58.0,80.5,66.1,81.9,51.4,False,2018
2018-09-23,2018,3,Washington Redskins,Green Bay Packers,1:00pm,W,31,17,64.0,63.0,...,73.4,49.2,60.4,56.2,61.7,55.3,62.7,72.8,False,2018
2018-10-08,2018,5,Washington Redskins,New Orleans Saints,8:15pm,L,19,43,65.0,69.3,...,61.4,71.4,56.4,63.9,56.3,57.2,52.4,58.3,False,2018
2018-10-14,2018,6,Washington Redskins,Carolina Panthers,1:00pm,W,23,17,70.4,66.7,...,75.9,50.6,65.1,68.1,74.9,57.5,66.6,77.0,False,2018
2018-10-21,2018,7,Washington Redskins,Dallas Cowboys,4:25pm,W,20,17,75.0,63.2,...,65.5,57.6,81.5,90.9,81.7,71.7,68.9,67.3,False,2018
2018-10-28,2018,8,Washington Redskins,New York Giants,1:00pm,W,20,13,72.9,64.7,...,64.3,62.0,79.4,82.7,65.0,67.0,74.6,50.9,False,2018
2018-11-04,2018,9,Washington Redskins,Atlanta Falcons,1:00pm,L,14,38,58.0,65.5,...,71.3,49.4,46.8,54.7,81.6,55.1,43.0,63.5,False,2018
2018-11-11,2018,10,Washington Redskins,Tampa Bay Buccaneers,1:00pm,W,16,3,76.0,69.4,...,61.7,63.7,77.2,70.8,57.6,69.4,75.0,53.5,False,2018
2018-11-18,2018,11,Washington Redskins,Houston Texans,1:00pm,L,21,23,70.8,60.1,...,68.1,52.8,83.4,79.0,75.8,84.8,70.1,55.0,False,2018
2018-11-22,2018,12,Washington Redskins,Dallas Cowboys,4:30pm,L,23,31,65.1,59.6,...,69.1,63.7,68.4,72.9,68.8,64.9,58.7,67.5,False,2018
2018-12-03,2018,13,Washington Redskins,Philadelphia Eagles,8:15pm,L,13,28,55.9,54.6,...,68.4,57.7,56.0,58.6,61.7,58.2,55.2,63.2,False,2018
2018-12-09,2018,14,Washington Redskins,New York Giants,1:00pm,L,16,40,54.0,52.3,...,61.2,46.0,62.1,65.0,74.2,59.2,56.0,42.1,False,2018
2018-12-16,2018,15,Washington Redskins,Jacksonville Jaguars,1:00pm,W,16,13,69.4,56.1,...,71.5,52.2,83.4,72.8,61.1,74.0,79.3,61.6,False,2018
2018-12-22,2018,16,Washington Redskins,Tennessee Titans,4:30pm,L,16,25,68.2,66.5,...,75.4,55.1,62.1,74.6,66.2,64.5,51.0,73.4,False,2018
2018-12-30,2018,17,Washington Redskins,Philadelphia Eagles,4:25pm,L,0,24,49.9,44.9,...,69.5,31.8,58.0,54.2,64.0,57.6,61.1,61.6,False,2018

In [34]:
# First, turn date cols into dt objects
gameTable['date'] = pd.to_datetime(gameTable['date'])
pffTable['date'] = pd.to_datetime(pffTable['date'])

# Create a table of running averages for pff grades and game scores. Use previous 7-game averages for a team's variables
rollAvgPff = pffTable.set_index('date')
varDict = {'pf':'avgPf','pa':'avgPa','overall':'avgOvr','off':'avgOff','pass':'avgPass','pblk':'avgPblk','recv':'avgRecv',
           'run':'avgRun','rblk':'avgRblk','def':'avgDef','rdef':'avgRdef','tack':'avgTack','prsh':'avgPrsh','cov':'avgCov'}

for key, val in varDict.items():
    rollAvgPff[val] = rollAvgPff.groupby('team')[key].apply(lambda x: x.shift(1).rolling(window=7).mean())

rollAvgPff = rollAvgPff.fillna(method='bfill')
rollAvgPff = rollAvgPff.reset_index()

# Need to make new rollingAvgPff tables that have all dates covered... Dates in pff table are off by one or two days
# Strategy is to create new df's that have all dates, then join the normal pff table to each of them by date,
# then merge all the tables together. All dates will be in the final table
pffB1 = rollAvgPff.copy()
pffB1['date'] = pffB1['date'] - datetime.timedelta(days=1)
pffB2 = rollAvgPff.copy()
pffB2['date'] = pffB2['date'] - datetime.timedelta(days=2)
pffF1 = rollAvgPff.copy()
pffF1['date'] = pffF1['date'] + datetime.timedelta(days=1)
pffF2 = rollAvgPff.copy()
pffF2['date'] = pffF2['date'] + datetime.timedelta(days=2)

# Now join pffTable to each new df
t0 = pd.merge(gameTable,rollAvgPff,how='inner',left_on=['date','awayTeam'], right_on=['date','team'])
t1 = pd.merge(gameTable,pffB1,how='inner',left_on=['date','awayTeam'], right_on=['date','team'])
t2 = pd.merge(gameTable,pffB2,how='inner',left_on=['date','awayTeam'], right_on=['date','team'])
t3 = pd.merge(gameTable,pffF1,how='inner',left_on=['date','awayTeam'], right_on=['date','team'])
t4 = pd.merge(gameTable,pffF2,how='inner',left_on=['date','awayTeam'], right_on=['date','team'])
t5 = pd.merge(gameTable,rollAvgPff,how='inner',left_on=['date','homeTeam'], right_on=['date','team'])
t6 = pd.merge(gameTable,pffB1,how='inner',left_on=['date','homeTeam'], right_on=['date','team'])
t7 = pd.merge(gameTable,pffB2,how='inner',left_on=['date','homeTeam'], right_on=['date','team'])
t8 = pd.merge(gameTable,pffF1,how='inner',left_on=['date','homeTeam'], right_on=['date','team'])
t9 = pd.merge(gameTable,pffF2,how='inner',left_on=['date','homeTeam'], right_on=['date','team'])

awayTable = t0.append([t1,t2,t3,t4],ignore_index=True)
homeTable = t5.append([t6,t7,t8,t9],ignore_index=True)

awayTable['homeAway'] = 'away'
homeTable['homeAway'] = 'home'

awayTable = awayTable[['gameId', 'date','season', 'week','team','homeAway',
       'stadium', 'roof', 'surface', 'avgPf', 'avgPa', 'avgOvr', 'avgOff',
       'avgPass', 'avgPblk', 'avgRecv', 'avgRun', 'avgRblk', 'avgDef', 'avgRdef',
       'avgPrsh', 'avgCov','pf','pa','totalScore', 'overUnder', 'result']]
homeTable = homeTable[['gameId', 'date','season', 'week','team','homeAway',
       'stadium', 'roof', 'surface', 'avgPf', 'avgPa', 'avgOvr', 'avgOff',
       'avgPass', 'avgPblk', 'avgRecv', 'avgRun', 'avgRblk', 'avgDef', 'avgRdef',
       'avgPrsh', 'avgCov','pf','pa','totalScore', 'overUnder', 'result']]

# Transform week from dvoa table into correct format for analysis (add one)
dvoaTable['week'] = dvoaTable['week'] + 1

# Next, join these tables with DVOA table
awayTable = awayTable.merge(dvoaTable, on=['season','week','team'])
homeTable = homeTable.merge(dvoaTable, on=['season','week','team'])

# We only want the team's offensive and total grade columns and the team's opponent's
# defensive/total grade cols
# We can make two copies of both tables: awayOff, awayDef, homeOff, homeDef. Then join
# awayOff with homeDef, and join homeOff with awayDef and predict team totals for each game
# after transforming variables by combining columns.
awayOff = awayTable[['gameId', 'date', 'season', 'week', 'team', 'homeAway', 'stadium',
       'roof', 'surface', 'avgPf', 'avgOvr', 'avgOff', 'avgPass',
       'avgPblk', 'avgRecv', 'avgRun', 'avgRblk', 'totalDvoa', 'offDvoa', 'stDvoa',
       'overUnder', 'pf', 'pa', 'totalScore']]
awayDef = awayTable[['gameId', 'date', 'season', 'week', 'team', 'stadium',
       'roof', 'surface', 'avgPa', 'avgOvr', 'avgDef', 'avgRdef',
       'avgPrsh', 'avgCov', 'totalDvoa', 'defDvoa', 'totalScore']]
homeOff = homeTable[['gameId', 'date', 'season', 'week', 'team', 'homeAway', 'stadium',
       'roof', 'surface', 'avgPf', 'avgOvr', 'avgOff', 'avgPass',
       'avgPblk', 'avgRecv', 'avgRun', 'avgRblk', 'totalDvoa', 'offDvoa', 'stDvoa',
       'overUnder', 'pf', 'pa', 'totalScore']]
homeDef = homeTable[['gameId', 'date', 'season', 'week', 'team', 'stadium',
       'roof', 'surface', 'avgPa', 'avgOvr', 'avgDef', 'avgRdef',
       'avgPrsh', 'avgCov', 'totalDvoa', 'defDvoa', 'totalScore']]

awayMatchup = awayOff.merge(homeDef, on=['gameId', 'date', 'season', 'week', 'stadium', 'roof', 'surface', 'totalScore'])
homeMatchup = homeOff.merge(awayDef, on=['gameId', 'date', 'season', 'week', 'stadium', 'roof', 'surface', 'totalScore'])

# Now we will create new columns for these two tables by combining matchups
# Ex) add awayMatchup['avgOff'] + awayMatchup['avgDef'] ('avgDef' is the away team's opponent's average defensive grade)
# to turn these two columns into one

awayMatchup['ptsMatchup'] = awayMatchup['avgPf'] + awayMatchup['avgPa']
awayMatchup['offMatchup'] = awayMatchup['avgOff'] - awayMatchup['avgDef']
awayMatchup['ovrMatchup'] = awayMatchup['avgOvr_x'] - awayMatchup['avgOvr_y']
awayMatchup['passMatchup'] = awayMatchup['avgPass'] - awayMatchup['avgCov']
awayMatchup['pblkMatchup'] = awayMatchup['avgPblk'] - awayMatchup['avgPrsh']
awayMatchup['runMatchup'] = awayMatchup['avgRun'] - awayMatchup['avgRdef']
awayMatchup['offDvoaMatchup'] = awayMatchup['offDvoa'] + awayMatchup['defDvoa']
awayMatchup['totalDvoaMatchup'] = awayMatchup['totalDvoa_x'] - awayMatchup['totalDvoa_y']

homeMatchup['ptsMatchup'] = homeMatchup['avgPf'] + homeMatchup['avgPa']
homeMatchup['offMatchup'] = homeMatchup['avgOff'] - homeMatchup['avgDef']
homeMatchup['ovrMatchup'] = homeMatchup['avgOvr_x'] - homeMatchup['avgOvr_y']
homeMatchup['passMatchup'] = homeMatchup['avgPass'] - homeMatchup['avgCov']
homeMatchup['pblkMatchup'] = homeMatchup['avgPblk'] - homeMatchup['avgPrsh']
homeMatchup['runMatchup'] = homeMatchup['avgRun'] - homeMatchup['avgRdef']
homeMatchup['offDvoaMatchup'] = homeMatchup['offDvoa'] + homeMatchup['defDvoa']
homeMatchup['totalDvoaMatchup'] = homeMatchup['totalDvoa_x'] - homeMatchup['totalDvoa_y']

cols = list(awayMatchup.columns)
cols
cols.pop(21)
cols.append('pf')

awayMatchup = awayMatchup[cols]
homeMatchup = homeMatchup[cols]

In [35]:
awayMatchup.columns

Index(['gameId', 'date', 'season', 'week', 'team_x', 'homeAway', 'stadium',
       'roof', 'surface', 'avgPf', 'avgOvr_x', 'avgOff', 'avgPass', 'avgPblk',
       'avgRecv', 'avgRun', 'avgRblk', 'totalDvoa_x', 'offDvoa', 'stDvoa',
       'overUnder', 'pa', 'totalScore', 'team_y', 'avgPa', 'avgOvr_y',
       'avgDef', 'avgRdef', 'avgPrsh', 'avgCov', 'totalDvoa_y', 'defDvoa',
       'ptsMatchup', 'offMatchup', 'ovrMatchup', 'passMatchup', 'pblkMatchup',
       'runMatchup', 'offDvoaMatchup', 'totalDvoaMatchup', 'pf'],
      dtype='object')

In [40]:
dvoaTable.head()

,season,week,team,totalDvoa,offDvoa,offRank,defDvoa,defRank,stDvoa,stRank
0,2007,2,New England Patriots,0.319,0.257,1,-0.051,9,0.011,7
1,2007,2,Philadelphia Eagles,0.260,0.222,3,-0.039,12,-0.001,18
2,2007,2,Jacksonville Jaguars,0.247,0.082,6,-0.166,1,-0.001,19
3,2007,2,Baltimore Ravens,0.120,0.060,11,-0.065,7,-0.005,22
4,2007,2,Washington Redskins,0.112,-0.018,15,-0.115,4,0.015,3

In [36]:
awayMatchup.to_csv('C://Users//Michael//Desktop//Springboard//Capstone2//csvFiles//awayMatchup.csv')
homeMatchup.to_csv('C://Users//Michael//Desktop//Springboard//Capstone2//csvFiles//homeMatchup.csv')